<div id="visEditorSidebar__section">
  <!-- Percentage Mode -->
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="percentageMode"
      i18n-id="metricVis.params.percentageModeLabel"
      i18n-default-message="Percentage Mode"
    >
    </label>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiCheckBox"
        id="percentageMode"
        type="checkbox"
        ng-model="editorState.params.metric.percentageMode"
      />
    </div>
  </div>
  <!-- show Labels -->
  <div class="visEditorSidebar__formRow">
    <label
      class="visEditorSidebar__formLabel"
      for="showLabels"
      i18n-id="metricVis.params.showLabelsLabel"
      i18n-default-message="Show Labels"
    >
    </label>
    <div class="visEditorSidebar__formControl">
      <input
        class="kuiCheckBox"
        id="showLabels"
        type="checkbox"
        ng-model="editorState.params.metric.labels.show"
      />
    </div>
  </div>

  <!-- Style -->
  <div class="visEditorSidebar__collapsible--margin">
    <div class="visEditorSidebar__collapsibleTitle">
      <div
        kbn-accessible-click
        aria-expanded="{{ !!showStyle }}"
        aria-controls="metricOptionsStyle"
        aria-label="{{::'metricVis.params.style.toggleOptionsAriaLabel' | i18n: { defaultMessage: 'Toggle style options' } }}"
        class="visEditorSidebar__collapsibleTitleLabel"
        ng-click="showStyle = !showStyle"
      >
      <icon color="'primary'" aria-hidden="true" ng-if="showStyle" type="'arrowDown'" size="'s'"></icon>
      <icon color="'primary'" aria-hidden="true" ng-if="!showStyle" type="'arrowRight'" size="'s'"></icon>
      <span 
      class="visEditorSidebar__collapsibleTitleText"
      i18n-id="metricVis.params.style.styleTitle"
      i18n-default-message="Style"
      >
      </span>
      </div>
    </div>
    <div
      id="metricOptionsStyle"
      ng-if="showStyle"
    >
      <div class="visEditorSidebar__section">
        <!-- font Size -->
        <div class="visEditorSidebar__formRow">
          <label class="visEditorSidebar__formLabel" for="metricFontSize">
            <span
              i18n-id="metricVis.params.style.fontSizeLabel"
              i18n-default-message="Font Size ({fontSize}pt)"
              i18n-values="{ fontSize: editorState.params.metric.style.fontSize }"
            >
            </span>
          </label>
          <div class="visEditorSidebar__formControl">
            <input
              id="metricFontSize"
              type="range"
              ng-model="editorState.params.metric.style.fontSize"
              class="form-control"
              min="12"
              max="120"
            />
          </div>
        </div>
        <!-- font Color -->
        <div class="visEditorSidebar__formRow">
          <label class="visEditorSidebar__formLabel" for="metricFontColor">
            <span
              i18n-id="metricVis.params.style.fontSizeLabel"
              i18n-default-message="Font Color"
            >
            </span>
          </label>
          <div class="visEditorSidebar__formControl">
            <div class="health-status" ng-style="{'background': editorState.params.metric.style.fontColor}"></div>
            <input
              id="metricFontColor"
              type="text"
              ng-model="editorState.params.metric.style.fontColor"
              class="form-control"
            />
          </div>
        </div>
        <!-- RED Threshold -->
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel threshold"
            for="metricCriticalThreshold"
          >
            <span
              i18n-id="metricVis.params.style.fontSizeLabel"
              i18n-default-message="Critical Threshold"
            >
            </span>
            <span
              class="threshold__info"
              ng-bind-template="(equal to or {{
                !editorState.params.metric.style.invertScale ? 'below' : 'above'
              }} this value, the state will be critical)"
            ></span>
          </label>
          <div class="visEditorSidebar__formControl">
            <input
              id="metricCriticalThreshold"
              type="number"
              ng-model="editorState.params.metric.style.redThreshold"
              class="form-control threshold__number"
            />
          </div>
        </div>
        <!-- WARNING Threshold -->
        <div class="visEditorSidebar__formRow">
          <label
            class="visEditorSidebar__formLabel threshold"
            for="metricWarningThreshold"
          >
            <span
              i18n-id="metricVis.params.style.fontSizeLabel"
              i18n-default-message="Warning Threshold"
            >
            </span>
            <span
              class="threshold__info"
              ng-bind-template="(equal to or {{
                !editorState.params.metric.style.invertScale ? 'below' : 'above'
              }} this value, the state will be on alert)"
            ></span>
          </label>
          <div class="visEditorSidebar__formControl">
            <input
              id="metricWarningThreshold"
              type="number"
              ng-model="editorState.params.metric.style.yellowThreshold"
              class="form-control threshold__number"
            />
          </div>
        </div>
        <div class="visEditorSidebar__formRow">
          <input
            type="checkbox"
            ng-model="editorState.params.metric.style.invertScale"
          />
          Invert Scale
        </div>
        <!-- Default color -->
        <div class="visEditorSidebar__formRow">
          <label class="visEditorSidebar__formLabel" for="metricDefaultColor">
            <span
              i18n-id="metricVis.params.style.fontSizeLabel"
              i18n-default-message="Default Color"
            >
            </span>
          </label>
          <div class="visEditorSidebar__formControl">
            <div class="health-status" ng-style="{'background': editorState.params.metric.style.greenColor}"></div>
            <input
              id="metricDefaultColor"
              type="text"
              ng-model="editorState.params.metric.style.greenColor"
              class="form-control"
            />
          </div>
        </div>
        <!-- Critical color -->
        <div class="visEditorSidebar__formRow">
          <label class="visEditorSidebar__formLabel" for="metricCriticalColor">
            <span
              i18n-id="metricVis.params.style.fontSizeLabel"
              i18n-default-message="Critical Color"
            >
            </span>
          </label>
          <div class="visEditorSidebar__formControl">
            <div class="health-status" ng-style="{'background': editorState.params.metric.style.redColor}"></div>
            <input
              id="metricCriticalColor"
              type="text"
              ng-model="editorState.params.metric.style.redColor"
              class="form-control"
            />
          </div>
        </div>
        <!-- Warning color -->
        <div class="visEditorSidebar__formRow">
          <label class="visEditorSidebar__formLabel" for="metricWarningColor">
            <span
              i18n-id="metricVis.params.style.fontSizeLabel"
              i18n-default-message="Warning Color"
            >
            </span>
          </label>
          <div class="visEditorSidebar__formControl">
            <div class="health-status" ng-style="{'background': editorState.params.metric.style.yellowColor}"></div>
            <input
              id="metricWarningColor"
              type="text"
              ng-model="editorState.params.metric.style.yellowColor"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
