<div class="form-group">
  <label>Font Size - {{ vis.params.fontSize }}pt</label>
  <input type="range" ng-model="vis.params.fontSize" class="form-control" min="12" max="120" />
</div>
<div class="form-group">
  <label>Font color</label>
  <div class="form-subgroup">
    <input type="color" ng-model="vis.params.fontColor" class="form-control" disabled="disabled" />
    <input type="text" ng-model="vis.params.fontColor" class="form-control" />
  </div>
</div>
<div class="form-group">
  <label>Critical threshold <span ng-bind-template="({{!vis.params.invertScale ? 'below':'above'}} this value, the color will be red)"></span></label>
  <input type="number" ng-model="vis.params.redThreshold" class="form-control" />
</div>
<div class="form-group">
  <label>Warning threshold <span ng-bind-template="({{!vis.params.invertScale ? 'above':'below'}} this value, the color will be yellow)"></span></label>
  <input type="number" ng-model="vis.params.yellowThreshold" class="form-control" />
</div>
<div class="form-group">
  <label>
    <input type="checkbox" ng-model="vis.params.invertScale" />
    Invert scale
  </label>
</div>
<div class="form-group">
  <label>Default color:</label>
  <div class="form-subgroup">
    <input type="color" ng-model="vis.params.greenColor" class="form-control" disabled="disabled" />
    <input type="text" ng-model="vis.params.greenColor" class="form-control" />
  </div>
</div>
<div class="form-group">
  <label>Critical color:</label>
  <div class="form-subgroup">
    <input type="color" ng-model="vis.params.redColor" class="form-control" disabled="disabled" />
    <input type="text" ng-model="vis.params.redColor" class="form-control" />
  </div>
</div>
<div class="form-group">
  <label>Warning color:</label>
  <div class="form-subgroup">
    <input type="color" ng-model="vis.params.yellowColor" class="form-control" disabled="disabled" />
    <input type="text" ng-model="vis.params.yellowColor" class="form-control" />
  </div>
</div>
